@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.MapSection)Model.Content;
}

<section class="map-section">
    <div>
        <img src="@content.MapImage.Url()" alt="Address on map">
    </div>
</section>