@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.SuccessSection)Model.Content;
}

<section class="success-section bg-[#5C6961] pt-20 pb-60 text-center">
    <div class="container mx-auto max-w-6xl">

        <div class="success-header">
            <span class="success-label">@content.SuccessLabel</span>
            <h2 class="success-title text-white">@content.SeccessTitle</h2>
        </div>

        <div class="success-items">
            @await Html.GetBlockListHtmlAsync(content.SuccessItems)
        </div>
    </div>
</section>