@import "tailwindcss";

@theme {
    --color-neutral: #ffffff;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-note1: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    
    --font-poppins:'Poppins', sans-serif;

    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: 0.875rem;
}

body {
    @apply font-poppins;
}

.rte h3 {
    @apply text-[2.5rem] text-primary font-bold;
}

.current a {
    @apply text-secondary;
}

.rte-ul {
    @apply pl-5 mt-3;
}

.rte-ul li {
    @apply list-disc text-rte-xs text-body-text mb-3;
}

.rte-ul li::marker {
    @apply text-secondary;
}

.rte p {
    @apply mb-3;
}

.callback-variant-contact .rte h2,
.callback-variant-contact .rte h3 {
    text-align: center;
}


img {
    @apply w-full h-auto object-cover;
}

.rte.signature img {
    @apply w-auto h-auto max-w-none;
}

.input-validation-error {
   @apply border-red-500 focus:ring-1 focus:ring-red-500;
}

.field-validation-error {
    @apply mt-1 block text-sm text-red-600;
}


.success-items {
    @apply pb-36;
}

.success-section .container {
    background-image: url("../images/success/Dot-map.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.founder-section .description p {
    margin-bottom: 20px;
}

.choose-us .content-wrapper {
    background-image: url("../images/success/Why-choose-us-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Chatgpt suggested */
.success-items > .umb-block-list {
   @apply flex justify-center gap-20;
}

.success-items .stat-item {
    @apply flex flex-col items-center text-center;
}

.success-items .stat-text {
    @apply text-sm text-white max-w-[240px] leading-relaxed;
}

.contact-form-wrapper {
    @apply  max-w-[1170px] mx-auto shadow-lg p-[3rem];
    position: relative;
    margin-top: -500px;
    background: white;
}

.map-wrapper {
    position: relative;
    display: block;
}

.map-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.help-section {
    padding: 20px;
    background: var(--color-primary);
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
}


.help-section input {
    font-weight: lighter;
}